video 10 



https://x.com/i/status/2005701484634144826



---

https://x.com/i/status/1992518870586802238


---




Rob Hallam
@robj3d3
·
Dec 8
Day 180 of growing SuperX to $100k MRR

Progress: $13.5k MRR 🟩🟨⬜⬜⬜⬜⬜⬜⬜⬜ (13.5%)

This is exactly how I'm tackling churn:



https://x.com/i/status/1997976424725000522



---


Rob Hallam
@robj3d3
·
Dec 16
Day 187 of growing SuperX to $100k MRR

Progress: $14k MRR 🟩🟨⬜⬜⬜⬜⬜⬜⬜⬜ (14%)

This week I added over $1k MRR 📈:


https://x.com/i/status/2000658647651635269


---




Rob Hallam
@robj3d3
·
Nov 4
1 year ago I was stuck in my 9-5.

Today I'm shipping to my $12k MRR SaaS from Vietnam 🇻🇳

My life has changed completely.

All because I decided to pick up a camera.

You're only ever one decision away. Do it.

https://x.com/i/status/1985613374592356734




---



https://x.com/i/status/1994425034165879134


---



Rob Hallam
@robj3d3
·
Dec 22
Day 194 of growing SuperX to $100k MRR

Progress: $14.2k MRR 🟩🟨⬜⬜⬜⬜⬜⬜⬜⬜ (14.2%)

🇸🇬 How Singapore helped me add $1.5k MRR:

https://x.com/i/status/2003109568122069418

---

pov: you're doing a demo in front of top VCs

(oh, and the Vietnamese government)
https://x.com/i/status/1996245938177015879

---



Rob Hallam
@robj3d3
·
Oct 20
Left my job. Left my home. Living on savings.

It took me 10 months, but I've done it.

$10,000/month SaaS 🥹

If I can do it, so can you.

https://x.com/i/status/1979982292949893347


---



Rob Hallam
@robj3d3
·
Oct 18
Day 128 of growing SuperX to $10k MRR

Progress: $9.6k MRR 🟩🟩🟩🟩🟧 (96%)

Just a FEW days away from $10k MRR!!

https://x.com/i/status/1979386772896223316